<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="iam.mfa.grpc" level="TRACE"/>

    <logger name="org.apache.cxf.phase.PhaseInterceptorChain" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>